<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="/animals"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Animal Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="animal">
    <img [src]="animal.imageUrl" >

    <ion-card-header>
      <ion-card-title>{{ animal.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ animal.description }}</p>
    </ion-card-content>

    <ion-item lines="none">
      <ion-label>Is favorite?</ion-label>
      <ion-toggle [checked]="animal.favorite"
                  (ionChange)="toggleFavorite()"></ion-toggle>

      <!--
      <ion-toggle [(ngModel)]="animal.favorite"
                  (ionChange)="toggleFavorite()"></ion-toggle>
      -->
    </ion-item>

    <br>
  </ion-card>
</ion-content>
